<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WindMusicKG后台管理</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="/static/navi.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <button onclick="location.href='/kg_admin/feedback/'" type="button" class="btn-default">
        查看用户反馈
    </button>
    <button onclick="location.href='/kg_admin/singer/'" type="button" class="btn-light">
        管理歌手
    </button>
    <button onclick="location.href='/kg_admin/company/'" type="button" class="btn-light">
         管理经纪公司
    </button>
    <button onclick="location.href='/kg_admin/school/'" type="button" class="btn-light">
         管理学校
    </button>

</body>
</html>