<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try_Graph</title>
    <script src="/static/echarts.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:700px;margin:auto"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            align: 'center',
            title: {
                text: '刘怀宇的个人信息',
                textAlign: 'auto',
                left: 'center',
            },
            tooltip: {},
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    type: 'graph',
                    layout: 'none',
                    symbolSize: 80,
                    roam: true,
                    label: {
                        show: true
                    },
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [4, 4],
                    edgeLabel: {
                        fontSize: 20
                    },
                    data: [{
                        name: '刘怀宇',
                        x: 400,
                        y: 400,
                    }, {
                        name: '浙江大学',
                        x: 700,
                        y: 400
                    }, {
                        name: '四川省',
                        x: 100,
                        y: 400
                    }, {
                        name: '电气工程学院',
                        x: 400,
                        y: 700
                    }, {
                        name: '自动化',
                        x: 400,
                        y: 100
                    }],
                    // links: [],
                    links: [{
                        source: 0,
                        target: 1,
                        symbolSize: [5, 20],
                        label: {
                            fontSize:12,
                            show: true,
                            formatter: '毕业院校'
                        },
                        lineStyle: {
                            width: 2,
                            curveness: 0
                        }
                    }, {
                        source: 0,
                        target: 2,
                        symbolSize: [5, 20],
                        label: {
                            fontSize:12,
                            show: true,
                            formatter: '出生地'
                        },
                        lineStyle: {
                            width: 2,
                            curveness: 0
                        }
                    },
                        {
                        source: 0,
                        target: 3,
                        symbolSize: [5, 20],
                        label: {
                            fontSize:12,
                            show: true,
                            formatter: '学院'
                        },
                        lineStyle: {
                            width: 2,
                            curveness: 0
                        }
                    },
                        {
                        source: 0,
                        target: 4,
                        symbolSize: [5, 20],
                        label: {
                            fontSize:12,
                            show: true,
                            formatter: '专业'
                        },
                        lineStyle: {
                            width: 2,
                            curveness: 0
                        }
                    },
                    ],
                    lineStyle: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0
                    }
                }
            ]
        };
        myChart.setOption(option);
    </script>
</body>
</html>